@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Поиск информации о репозиториях на Github</h1>
    <form method="post" >
        <input type="text" name="search" />
        <input type="submit" value="Поиск" />
    </form>
    <p @Model.TempString() />

</div>
